@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Mono&family=PT+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400&family=Lora:wght@500;700&family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #181719;
    color: #FFF;
}

.header {
    padding: 40px 60px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid #FFF;
    padding: 8px;
}

.header__content {
    display: flex;
    gap: 60px;
}

.header__content li {
    list-style: none;
    padding: 8px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.13rem;
}

a {
    text-decoration: none;
    color: #FFF;
}

.content__a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #FFF;
    transition: width 0.2s ease 0s;
    width: 0;
}

.content__a:hover::after {
    width: 100%;
}

.content__a:hover {
    font-weight: bold;
}

.nav__btn {
    display: none;
    z-index: 3;
}

.dropdown__menu {
    position: absolute;
    display: none;
    right: 1rem;
    top: 75px;
    width: 200px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.020);
    background-color: #181719;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown__menu.open {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.dropdown__menu li {
    position: relative;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .header__content {
        display: none;
    }

    .dropdown__menu {
        display: block;
    }

    .nav__btn {
        display: block;
        cursor: pointer;
    }

}

@media (max-width: 900px) {
    .header__content {
        gap: 40px;
    }
}

.main {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 80px 60px;
}

.conteiner__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 61px;
}

.desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 410px;
    line-height: 29px;
}

.desc__ancora {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 22px;
    margin-top: 20px;
}

@media (max-width: 1250px) {

    .conteiner__img {
        justify-content: end;
        max-width: 50%;
    }
}


.conteiner__perfil {
    position: absolute;
    margin-top: -80px;
    margin-left: 300px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.219);
    background-color: #181719;
    width: 440px;
}

.conteiner__perfil__img {
    display: flex;
    padding: 15px 30px;
    align-items: center;
    gap: 20px;
}

.img__perfil {
    object-fit: cover;
    width: 60px;
    border-radius: 50%;
}

.perfil__name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .90rem;
    line-height: 17px;
    padding-bottom: 5px;
}

.perfil__cargo {
    color: #828282;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .75rem;
    line-height: 15px;
    padding-top: 5px;
}

.desc__projeto {
    padding: 8px 30px;
    font-family: 'Lora', serif;
    font-weight: 700;
    max-width: 300px;
    font-size: 1.5rem;
    line-height: 31px;
    padding-bottom: 20px;
}

@media (max-width: 1250px) {
    .conteiner__perfil {
        margin-top: -50px;
        margin-left: 200px;
        width: 200px;
    }

    .img__perfil {
        width: 40px;
    }

    .conteiner__perfil__img {
        gap: 13px;
    }

    .perfil__name{
        padding-bottom: 1px;
        font-size: .70rem;
    }

    .perfil__cargo {
        padding-top: 1px;
        font-size: .55rem;
    }

    .desc__projeto {
        line-height: 15px;
        margin-top: -10px;
        font-size: .75rem;
    }
}

@media (max-width: 980px){

    .main {
        flex-wrap: wrap;
        margin-bottom: 200px;
    }

    .conteiner__img {
        max-width: 100%;
    }

    .conteiner__perfil {
        width: 340px;
    }
}

@media (max-width: 650px) {

    .main {
        margin: 40px 10px;
        justify-content: center;
    }

    .title {
        font-size: 2.5rem;
    }

    .desc {
        font-size: 1.2rem;
    }

    .img__interior {
        max-width: 380px;
    }

    .conteiner__perfil {
        display: grid;
        margin: 0;
        width: 250px;
        margin-top: -50px;
        margin-left: 60px;
    }
}

@media (max-width: 425px) {

    .img__interior {
        width: 330px;
    }

    .conteiner__perfil {
        position: absolute;
        margin: 0;
        width: 250px;
        margin-top: -50px;
        margin-left: 60px;
    }

    .dropdown__menu.open{
        font-size: 2rem;
    }
}

@media (max-width: 370px) {
    .img__interior {
        width: 280px;
    }

    .conteiner__perfil {
        margin: 0;
        width: 190px;
        margin-top: -50px;
        margin-left: 70px;
    }
}
 
.footer {
    margin-top: 200px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .88rem;
    color: #A9A9A9;
}

.copyright__owner {
    font-style: italic;
}

.coryright__name a:hover {
    cursor: pointer;
}